<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title home_link"><a id="home1" href="/">{{ site.name }}</a></h1>
            <a class="extra home_link" id="home" href="/blog.html">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Hung Tran<br />
                Ideas Come to Life<br />
                tranhungt1@gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/tranhungt">github.com/tranhungt</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>

<script>
  $(function(){
    $(".posts").click("a", function(evt){
      evt = evt;
      console.log(evt)
        evt.preventDefault();
        var href = $(evt.target).attr('href');
        $("#blog_container").load(href);
    })
    $(".home_link").click(function(evt){
      evt = evt;
      console.log(evt)
        evt.preventDefault();
        $("#blog_container").load("./blog.html")
    })

  })

</script>